.header {
  padding: 10px 60px;
  background: #333;
}
.logo {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.dashboard {
  padding: 40px 20px;
  max-width: 1140px;
  margin: auto;
}

.history-wrap {
  padding: 0 20px;
  max-width: 1140px;
  margin: auto;
}

.history-item span {
  margin-left: 40px;
}

.dashboard h1 {
  margin: 0;
  display: inline-block;
}

.dashboard-header {
  margin-bottom: 40px;
}

.dashboard-header .btn-add {
  border-radius: 50%;
  background: #333;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}

.add-cat {
  float: right;
  display: flex;
  align-items: center;
}

.dashboard .items-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.dashboard .items-wrap .category-item {
  flex: 0 0 calc(33.3% - 60px);
  margin: 0 10px 20px;
  background: #ccc;
  padding: 20px;
}

.category-item h4 {
  margin-top: 0;
}

.category-item p {
  margin-bottom: 0;
}